#map{
    height: 600px;
    width: 100%; 
}

#about{
    height: 200px;
    text-align: center;
}

#searchbar{
    height: 200px;
    text-align: center;
}

p {
    font-size: 25px;
}

#title {
    background-color: #EDFAFF;
}

body {
    background-color: #EDFAFF;
    font-family: "Avenir";
}
