{% extends "base.html" %}

{% block title %}

<title>Event Finder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>

  #map{
  height: 600px;
  width: 100%; 
  }
  
  #about{
  background-color:lightsteelblue;
  height: 200px;
  }

  #searchbar{
  background-color:lightsteelblue;
  height: 200px;
  }

  #title{
  background-color:lightsteelblue;
  }

  p{
  font-size:20px;
  }
  
</style>

<script type="text/javascript">
  function redirectToEvent() {
  window.location = "/event";
  }
</script>

{% endblock %}

{% block content %}
<div id="all">
  <div id="title" class="col-sm-12">
    <div class="well well-sm"> 
      <h1>Event Finder</h1>
    </div>
  </div>

  <div id="searchbar" class="col-sm-6">
    <center>
       <form method="POST" action="/map">
	  <div class="well well-sm"> 
	    <div class="form-group">
	      <input type="text" class="form-control" name="address" placeholder="Address (ex: 345 Chambers Street)"><br>
	      <input type="text" class="form-control" name="radius" placeholder="Mile Radius (ex: 1)"><br>
	      <input type="submit" class="btn btn-info btn-md" value="Find Events">
	    </div>
	  </div>
	</form>
    </center>
  </div>

  
  <div id="about" class="col-sm-6">
    <div class="well well-sm"> 
      <center>
	<h2>Welcome to Event Finder!</h2>
	<p>Enter an address to find nearby events in a specified radius. Click an event for more information.</p>
      </center>
    </div>
  </div>

  <div class="alert alert-warning">
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}
  </div>
   
  <div id="map" class="col-sm-12">
    <script>
      function initMap() {
      var nyc = { lat: 40.713, lng: -74.007 };
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: nyc
      });

      {% if location is defined %}
      var currentLocation = { lat: {{ location[0] }}, lng: {{ location[1] }} };
  
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: currentLocation
      });
  
      var currentLocationMarker = new google.maps.Marker ({
      position: currentLocation,
      map: map
      });
      {% endif %}
  

      {% for event in events %}
      createEventMarker( '{{ event[0] }}', {{ event[3] }}, {{ event[4] }}, '{{ event[5] }}' );
      {% endfor %}
  

      function createEventMarker(name, lat, lon, address) {
      var location = { lat: lat, lng: lon };

      var marker = new google.maps.Marker ({
      position: location,
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
      title: 'name'
      });
    
      var infowindow = new google.maps.InfoWindow ({
      content: " "
      });
  
      google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(`${name}<br>${address}<br>
      <button onclick="redirectToEvent()">More Info</button>`);
      infowindow.open(map, this);
      });
      }

      }
    </script>

    <script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
   </div>
</div>

{% endblock %}
